@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*===============================================
 Set up smooth scrolling and determine font size
 ================================================ */
html {
    scroll-behavior: smooth;
    font-size: 20px;
}
/*=====================================================
 Set up background, background img will be update later
 ====================================================== */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 0, 23, 0.7), rgb(7, 0, 23, 0.7)), url(anime-girls-background-12.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*================================================
 Navigator bar here, logo img will be update later
 ================================================= */
nav{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.navbar ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: .3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    color: crimson;
}
/*=====================================================================
Text box containing club's name and its welcoming speech. Can be update
======================================================================= */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*help the club's name in the middle of the page*/
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
/*===============
visit club button
================= */
.visit-btn{
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    background: white;
    color: white;
    padding: 10px 30px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.visit-btn:hover{
    background: var(--clr);
    color: white;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.visit-btn:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}
a span{
    position: relative;
    z-index: 1;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}
a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 2px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::before{
    width: 20px;
    left: 20%;
}
a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 2px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::after{
    width: 20px;
    left: 80%;
}
/*==============================
menu bar button for phone,tablet 
================================ */
nav .bx{
    display: none;  
}

/*=========================================================================
 For phone user, need more update on animation (BETA TEST, STILL NOT READY)
 ========================================================================== */

 @media(max-width: 700px){ /*for phone user only!!! Not Tablet user!!!*/
    .text-box h1{
        font-size: 20px;
    }
    
    .navbar ul li{
        display: block;
    }
    .navbar{
        position: absolute;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bx{
        display: block;
        color: white;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar ul{
        padding: 30px;
    }
}
.project{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.row{
    flex: 1;
    margin: 2px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.project-col{
    background: grey;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}