@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*===============================================
 Set up smooth scrolling and determine font size
 ================================================ */
html {
    scroll-behavior: smooth;
    font-size: 20px;
}
.to-top {
    background: red;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:white;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }
  @media(max-width: 700px){
    .to-top.active {
        right: 20px;
        bottom:20px;
        pointer-events: auto;
        opacity:1;
        z-index: 1;
      }
  }
/*=====================================================
 Set up background, background img will be update later
 ====================================================== */
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#ef3333,#6161f7,#f1b74a,#3be83b); /*More color can be added here*/
    background-size: 10000% 10000%;
    animation: color 12s ease-in-out infinite
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 0, 23, 0.7), rgb(7, 0, 23, 0.7)), url(images/anime-girls-background-12.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*================================================
 Navigator bar here, logo img will be update later
 ================================================= */
nav{
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.navbar ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}
.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: .3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a:hover,
.navbar ul li a.active {
    color: crimson;
}
/*=====================================================================
Text box containing club's name and its welcoming speech. Can be update
======================================================================= */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*help the club's name in the middle of the page*/
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}
/*===============
visit club button
================= */
.visit-btn{
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    background: white;
    color: white;
    padding: 10px 30px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}
.visit-btn:hover{
    background: var(--clr);
    color: white;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.visit-btn:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}
a span{
    position: relative;
    z-index: 1;
}
a i{
    position: absolute;
    inset: 0;
    display: block;
}
a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 2px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::before{
    width: 20px;
    left: 20%;
}
a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 2px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
a:hover i::after{
    width: 20px;
    left: 80%;
}
/*==============================
menu bar button for phone,tablet 
================================ */
nav .bx{
    display: none;  
}

/*==========================
 For phone and tablet users
 =========================== */

 @media(max-width: 700px){ /*for phone user only!!! Not Tablet user!!!*/
    .text-box h1{
        font-size: 20px;
    }
    .navbar ul li{
        display: block;
    }
    .navbar{
        position: fixed;
        background: crimson;
        height: 100vh;
        width: 200px;
        top: 0;
        overflow-x: hidden;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .bx{
        display: block;
        color: white;
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    .navbar ul{
        padding: 30px;
    }
}
.project{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
h1{
    font-size: 30px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
.row{
    flex: 1;
    margin: 2px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.project-col{
    background: grey;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.project-col:hover{
    box-shadow: 0 0 20px 0px rgba(7, 0, 23, 0.7);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
        justify-content: center;
    }
}
/*=================
  About us section 
 ================== */
 .about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
 }
 .image-row{
    flex-basis: 30%;
    border-radius: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 .image-row img{
    width: 100%;
    display: block;
 }
 .motto{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
 }
 .motto:hover{
    background: rgb(220, 20, 60, 0.7);
 }
 .motto h3{
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
 }
 .motto:hover h3{
    top: 50%;
    opacity: 1;
 }

 /*=================
   Founders' section
   =================*/
.founder{
    flex: 1;
    width: 80%;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
}
h5{
    text-align: center;
    font-weight: 300;
    margin: 10px 0;
    font-size: 30px;
}
.founder-col{
    flex-basis: 30%;
    border-radius: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 .founder-col img{
    width: 100%;
    display: block;
 }
 .intro{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
 }
 .intro:hover{
    background: rgb(220, 20, 60, 0.7);
 }
 .intro h3{
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
 }
 .intro:hover h3{
    top: 50%;
    opacity: 1;
 }
 /*================
  Contact's section
  =================*/
 .contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }
 .contact h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
 }
 @media(max-width: 700px){
    .contact h1{
        font-size: 24px;
    }
 }
 /*===============
  Footer's section
  ================*/
  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
  }
  .footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
  .footer h6{
    margin-bottom: 5px;
    margin-top: 2px;
    font-weight: 300;
    font-size: 5px;
  }
  /*icons*/
  .footer ion-icon { 
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 20px 0;
  }
  .bx-heart{
    color: red;
  }
  /*==================
    Back-to-top button
   =================== */
  
  